# System
.DS_Store
Thumbs.db

# Misc
MEMO.md

# Common
node_modules/
dist/
coverage/

# Backend
.env
nohup.out

# Frontend
*storybook.log
storybook-static/

# MinIO
oss/minio.bash
oss/minio
oss/mc
oss/minio-data/
