#!/usr/bin/env bash

export MINIO_ROOT_USER='CHANGE-THIS'
export MINIO_ROOT_PASSWORD='CHANGE-THIS'
export MINIO_SERVER_URL='https://example.neos21.net'
export MINIO_BROWSER_REDIRECT_URL='https://example.neos21.net/minio-ui'
#export MINIO_SERVER_URL='http://localhost:9000'
#export MINIO_BROWSER_REDIRECT_URL='http://localhost:9001'

/PATH/TO/pseudo/minio server /PATH/TO/pseudo/oss --console-address ':9001'

# $ cat /etc/systemd/system/minio.service
#[Unit]
#Description=MinIO
#
#[Service]
#Type=simple
#Restart=always
#ExecStart=/PATH/TO/pseudo/minio.bash
#
#[Install]
#WantedBy=multi-user.target
