html {
  height: 100%;
  overflow-y: scroll !important;  /* Drawer を開いた時に消させない */
  word-break: break-all;
  cursor: default;
}

html.dark,
html.dark body {
  background-color: #001020 !important;
}
@media (prefers-color-scheme: dark) {
  html,
  html body {
    background-color: #001020 !important;
  }
}

html.light,
html.light body {
  background-color: var(--mui-palette-background-default) !important;
}

body {
  height: 100%;
  padding-right: 0 !important;  /* Drawer を開いた時に勝手に付くので切る */
}

#root {
  height: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}


/* Misc
 * ================================================================================ */

a.hover-underline:hover, a.hover-underline:focus,
a.hidden-link:hover, a.hidden-link:focus {
  text-decoration: underline;
}

a.normal-link {
  text-decoration: underline;
  
  &:hover, &:focus {
    text-decoration: none;
  }
}


/* Layout Component
 * ================================================================================ */

.layout-component-drawer * {
  transition: none !important;  /* Drawer 関連のアニメーションを切る */
}

.layout-component-drawer .MuiDrawer-paper {
  background-color: var(--mui-palette-background-default) !important;
}

.layout-component-drawer .MuiBackdrop-root {
  cursor: pointer;
}


/* App Bar Component
 * ================================================================================ */

html.dark .app-bar-component {
  background-color: #001838 !important;
}
@media (prefers-color-scheme: dark) {
  .app-bar-component {
    background-color: #001838 !important;
  }
}

html.light .app-bar-component {
  background-color: #c7e3fb !important;
}

.app-bar-component-icon {
  color: var(--mui-palette-text-primary) !important;
  opacity: .6;
}

.app-bar-component-icon-active {
  color: var(--mui-palette-text-primary) !important;
}


/* Menu Component
 * ================================================================================ */

html.dark .menu-component-list :hover .MuiButtonBase-root,
html.dark .menu-component-list .Mui-selected {
  background-color: rgba(243, 33, 150, .85) !important;
}
@media (prefers-color-scheme: dark) {
  .menu-component-list :hover .MuiButtonBase-root,
  .menu-component-list .Mui-selected {
    background-color: rgba(243, 33, 150, .85) !important;
  }
}

html.light .menu-component-list :hover .MuiButtonBase-root,
html.light .menu-component-list .Mui-selected {
  background-color: rgba(243, 33, 150, .3) !important;
}


/* Font Parser Component
 * ================================================================================ */

/* 明朝体 serif を指定した場合は太字にしちゃう */
.font-parser-component [style*="font-family: serif"] {
  font-weight: bold;
}

.font-parser-component h1 { margin: 0; font-size: 2em   ; font-weight: bold; }
.font-parser-component h2 { margin: 0; font-size: 1.75em; font-weight: bold; }
.font-parser-component h3 { margin: 0; font-size: 1.5em ; font-weight: bold; }
.font-parser-component h4 { margin: 0; font-size: 1.25em; font-weight: bold; }
.font-parser-component h5 { margin: 0; font-size: 1em   ; font-weight: bold; }
.font-parser-component h6 { margin: 0; font-size: .85em ; font-weight: bold; }
.font-parser-component p  { margin: 0; }

.font-parser-component strong {
  color: #f00;
  font-weight: bold;
}

.font-parser-component em {
  color: #0b5;
  font-weight: bold;
  font-style: normal;
}

.font-parser-component del {
  opacity: .85;
}

.font-parser-component code,
.font-parser-component var,
.font-parser-component samp,
.font-parser-component kbd {
  margin: 0 3px;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 1.25px 6px;
  font-size: .94em;
  font-style: normal;
}

html.dark .font-parser-component code,
html.dark .font-parser-component var,
html.dark .font-parser-component samp,
html.dark .font-parser-component kbd {
  background: #333;
}
@media (prefers-color-scheme: dark) {
  .font-parser-component code,
  .font-parser-component var,
  .font-parser-component samp,
  .font-parser-component kbd {
    background: #333;
  }
}

html.light .font-parser-component code,
html.light .font-parser-component var,
html.light .font-parser-component samp,
html.light .font-parser-component kbd {
  background: rgba(0, 0, 0, .075);
}

.font-parser-component code { color: #f0a; }
.font-parser-component var  { color: #0cf; }
.font-parser-component samp { color: #c3f; }
.font-parser-component kbd  { color: #f60; }

@keyframes blink-animation {
  50% { opacity: 0; }
}

.font-parser-component marquee {
  display: block;
}

@keyframes scroll-left {
  from { transform: translateX( 100%); }
  to   { transform: translateX(-100%); }
}
@keyframes scroll-right {
  from { transform: translateX(-100%); }
  to   { transform: translateX( 100%); }
}
@keyframes scroll-up {
  from { transform: translateY( 100%); }
  to   { transform: translateY(-100%); }
}
@keyframes scroll-down {
  from { transform: translateY(-100%); }
  to   { transform: translateY( 100%); }
}
